<launch>
  <arg name="sim" default="false" />
  <arg name="robot_ip" unless="$(arg sim)" default="192.168.71.3" />
  <arg name="use_rmi" default="true" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <include file="$(find hiwin_cell_support)/launch/rmi_driver.launch"/>
  <!-- <rosparam command="load" file="$(find hiwin_ra605_moveit_config)/config/rmi_driver_config.yaml"/> -->

  <node name="rmi_driver" pkg="rmi_driver" type="rmi_driver_node" output="screen" />

  <include file="$(find hiwin_cell_moveit_config)/launch/moveit_planning_execution.launch" >
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="use_rmi" value="$(arg use_rmi)"/>
  </include>    


  <!-- For hiwin 0.005 0.02 0.005 0 0 0 /table_paper_frame1 /camera_frame 10-->
  <node name="$(anon static_transform_publisher)" pkg="tf" type="static_transform_publisher" args="0.005 0.02 0.005 0 0 0 /table_paper_frame1 /camera_frame 10"/>
  
  <!-- <node name="$(anon static_transform_publisher)" pkg="tf" type="static_transform_publisher" args="0.005 0.02 0.002 0 0 0 /table_paper_frame1 /camera_frame 10"/>  -->
  <!-- <node name="$(anon static_transform_publisher)" pkg="tf" type="static_transform_publisher" args="0.305 -0.02 0.12 0 -1.5 0 /table_paper_frame1 /camera_frame 10"/>  -->
</launch>
